@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}

@font-face {
  font-family: 'YuGothL';
  font-style: normal;
  font-weight: 400;
  src: url(http://mono-96.jp/ishida/mono96/fonts/YuGothL.woff) format('woff');
}

html, body { 
	height: 100%; 
	font-family: "游ゴシック体","Yu Gothic","YuGothL","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
	font-weight: 400;
    animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (min-width: 770px){
#container {
	width: 100%;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
	}

.clearfix:after {  
  content: ".";   
  display: block;     
  clear: both;   
}

/*headerのcss*/
#mono_menu {
    color: #000;
	position: fixed;
    margin-top: -3px;
    width: 100%;
    float: right;
	z-index: 1;
	background-color: #fff;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

#menu-cb {
	display: none;
}	

#menu-icon {
	display: none;
}	

#menu-background {
	display: none;
}	

#mono_menu .nomal_logo {
    float: left;
    padding-top: 20px;
    width: 7%;
    padding-left: 1%;
}
	
#mono_menu .black_logo {
    display: none;
}
	
.nav{
	background: none;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}
.nav_menu {
	/*float: right;*/
	padding-top: 26px;
	text-align: right;
	padding-right: 2%;
	font-family:"Titillium Web", "Abel";
}

.nav_menu li {
	font-weight: 700;
    letter-spacing: 1.2px;
    margin-left: 20px;
    padding-bottom: 20px;
    display: inline-block;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}

.nav_menu li a {
	color: #000;
	text-decoration: none;
	position: relative;
}

.nav_menu li a::after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #000000;
    transition: all .3s ease;
}	
	
.nav_menu li a:hover::after {
	transform: scaleX(1);
}

.nav_menu .pc_none {
	display: none;
}	
	
#keyVisual {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 100%;
	z-index: -99999;
}

#mono96_img {
	overflow: hidden;
}	

#mono96_img img {
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}		
	
#mono96_img_black {
	display: none;
}	
	
.mono96_logo {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 400px;
	left: 0;
}

.mono96_logo .casecond {
	font-size: 24px;
	line-height: 1.5;
}

.mono96_logo .mono96_logo_01 {
	width: 100%;
    margin: 0 auto;
}

.mono96_logo .mono96_logo_01 img {
	width: 20%;	
}	

.sp_images {
	display: none;	
}	

/*newsのcss*/
.mono_news {
	width: 1000px;
	margin: 0 auto;
	padding: 130px 0 140px;
	text-align: center;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}

.mono_news h1 {
	width: 82px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 40px;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 3px solid #000;
    padding-bottom: 7px;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
}

.mono_news .news_box {
	font-size: 15px;
	line-height: 2.7;
	width: 48%;
    margin: 0 auto;
    text-align: justify;
}

.mono_news .news_spbox {
	display: none;
}
	
/*serviceのcss*/
.mono_service {
	width: 1000px;
	margin: 0 auto;
	padding: 130px 0 140px;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}		
	
.mono_service h1 {
	width: 95px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 40px;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 3px solid #000;
    padding-bottom: 7px;
}
	
.service_box {
	width: 22%;
	display: inline-block;
	text-align: center;
	margin: 3% 5%;
}

.last_service {
	position: relative;
	bottom: 20px;
}	
	
.service_ttl {
	font-size: 15px;
    line-height: 4;
    font-weight: bold;
}	
	
.service_sentence {
	text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}	
	
.service_box img {
	width: 50%;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
}

.ama_service {
	width: 100%;	
}
	
.ama_service img {
	width: 12%;
	float: left;
}
	
.service_block {
	width: 80%;
	float: right;
	text-align: left;
}	
	
/*worksのcss*/
.mono_works {
	 padding: 130px 0 140px;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}	
	
.mono_works h1 {
	width: 102px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 60px;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 3px solid #000;
    padding-bottom: 7px;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
}

.mono_works .project_box {
	margin: 0 auto;
	text-align: center;
	position: relative;
    max-width: 100%;
    list-style: none;
}
	
.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
    overflow: hidden;
    width: 41%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
	margin: 0 0 3% 6%;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 15px;
	text-shadow: 1px 2px 3px #808080;
}
	

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #000000;
	border: 1px solid rgba(204, 204, 204, 1);
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h3 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	text-shadow: 1px 2px 3px #808080;
	font-weight: bold;
}

figure.effect-bubba p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*slidのcss*/
.mono96_slid_block {
	overflow: hidden;
	margin-top: 55px;
}

#menu_3 .project_box .company {
	font-size: 1.5vw;
    padding-top: 25%;
    font-weight: bold;
    padding-bottom: 5%;	
}	

.project_spbox {
	display: none;
}	
	
/*worksの注釈*/	
.mono_works .annotation {
	margin: -30px 30px 0 15px;
    font-size: 12px;
    color: #000000;
    text-align: left;
    float: right;
}

/*COMPANYのcss*/
.mono_company {
	margin: 0 auto 50px;
	padding: 130px 0 0;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}

.mono_company .corporate_information {
	margin: 0 auto 50px;
	width: 1000px;
	padding: 30px 0 140px;
	line-height: 2.7;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.mono_company .corporate_information .pc_none {
	display: none;	
}	

.mono_company h1 {
	width: 133px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 40px;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 3px solid #000;
    padding-bottom: 7px;
}

.mono_company th {
	width: 20%;
}

.mono_company td {
	width: 30%;
}

.mono_company .map {
	width: 100%;
	padding-bottom: 140px;
}

#access {
	width: 100%;
	height: 400px;
}	
	
.mono_information {
	width: 100%;
	background-color: #CCCCCC;
	font-size: 20px;
	padding: 130px 0 140px;
}

.mono_information h1 {
	width: 125px;
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto 40px;
	text-align: center;
	font-family: "Titillium Web", "Abel";
	border-bottom: 3px solid #000;
    padding-bottom: 7px;
}

.mono_information .mono_recruitment {
	margin: 0 auto;
	border: 1px solid #2A1300;
	border-collapse: collapse;
	width: 45%;
	line-height: 2;
}

.mono_information .mono_recruitment th {
	border: 1px solid #2A1300;
	vertical-align: middle;
}

.mono_information .mono_recruitment td {
	border: 1px solid #2A1300;
	padding-left: 20px;
	width: 70%;
}

/*contactのcss*/	
.mono_contact {	
	margin: 0 auto;
    padding: 130px 0 90px;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}

.mono_contact h1 {
	width: 125px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 60px;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 3px solid #000;
    padding-bottom: 7px;	
}	

.mono_contact form {
    /* フォームをページの中央に置く */
    margin: 0 auto;
    width: 1000px;
	text-align: center;
}
.mono_contact form div + div {
    margin-top: 1em;
}
.mono_contact label {
    /* すべてのラベルを同じサイズにして、きちんと揃える */
    float: left;
    width: 130px;
    text-align: left;
}
	
.mono_contact label span {
	font-size: 12px;	
}	

.mono_contact input, textarea {

    /* すべてのテキストフィールドを同じサイズにする */
    width: 753px;
    box-sizing: border-box;
	height: 30px;

    /* テキストフィールドのボーダーの外見を同一にする */
    border: 1px solid #999;
}	
.mono_contact textarea {
    /* 複数行のテキストフィールドをラベルにきちんと揃える */
    vertical-align: top;

    /* テキスト入力に十分な領域を与える */
    height: 5em;

    /* ユーザが textarea を垂直方向にリサイズできるようにする
       これが動作しないブラウザもある */
    resize: vertical;
}
.mono_contact .button {
    /* ボタンを他のテキストフィールドと同じ場所に置く */
    margin-top: 50px;
}
.mono_contact button {
    width: 160px;
	background-color: #000;
    color: #fff;
    font-size: 15px;
	padding: 3px 0;
	border: 1px solid #000000;
	cursor: pointer;
	font-family: "游ゴシック";
}		

.mono_contact .label_01 {
	font-size: 15px;
    width: 30px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px	
}

.mono_contact .label_02 {
	padding-left: 47px;
	padding-right: 10px;
	font-size: 14px;
}

/*footerのcss*/
#footer {
	margin: 0 auto;
	background-color: #ffffff;
	width: 100%;
	transition: 1s;
    animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; 
    animation: fadeIn 1.5s linear 1;
}

#footer p {
	display: inline-block;
	width: 15%;
	text-align: center;
}

#footer .footer_menu {
	font-weight: 700;	
}	

#footer p a {
	text-decoration: none;
	color: #000000;
}

#footer p a:hover{
	border-bottom: 1px solid #ff0000;
}

.footer_box {
	width: 1000px;
	margin: 0 auto;
	padding: 80px 0;
	text-align: center;
}

#mono96_character {
	width: 140px;	
	margin: 0 auto;
	overflow: hidden;
    position: relative;
	display: flex;
}	

#mono96_character a {
	width: 100%;
	margin: 0 auto;
}		
	
#mono96_character .character_nomal img {
	transition: 0.3s;
    position: relative;
    top: 58%;
    padding-bottom: 25%;
	width: 140px;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
}		

#mono96_character .character_black img {
	transition: 0.3s;
    position: relative;
    top: 58%;
    padding-bottom: 25%;
	width: 140px;
	animation: 5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    animation: fadeIn 1.5s linear 1;
}
	
#mono96_character img:hover {
	transform: translate(0px,-40%);
}			

#mono96_character .character_black img {
	display: none;
}				
	
#copy_right {
	width: 100%;
	font-size: 12px;
	padding: 20px 0;
	background-color: #000000;
	color: #ffffff;
}

#copy_right .footerlogo_nomal {
	width: 5%;
    float: left;
    padding-left: 29%;
}

.footerlogo_black {
	display: none;
}	
	
#copy_right .mono_copy {
	margin-left: 300px;
}	
	
}

@media screen and (max-width: 769px){

#container {
	width: 100%;
	margin: 0 auto;
}	

.clearfix:after {  
  content: ".";   
  display: block;     
  clear: both;   
}

/*headerのcss*/	
#mono_menu {
    color: #000;
	position: fixed;
    margin-top: -3px;
    width: 100%;
    float: right;
	height: 110px;
	z-index: 1;
}
/*
.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}*/

#mono_menu .nomal_logo img {
    display: none;
}

#mono_menu .black_logo img {
    display: none;
}	

#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;

    padding: 2% 5%; /*メニュー内左右上下余白*/
    position: fixed;
    right: -100px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-background {
    display: block;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#menu-icon {
    background-color: #fff; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-100px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}	

.nav{
	background: none;
}

.nav_menu {
	padding-top: 20px;
	text-align: left;
}

.nav_menu li {
	font-weight: 700;
    letter-spacing: 1.2px;
    margin-left: 2%;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 76%;
    padding-right: 2%;
}

.nav_menu li a {
	color: #000;
	text-decoration: none;
}

.nav_menu li a:hover {
	color: #FFE4E4;
}

#keyVisual {
    position: relative;
	height: 100%;
	z-index: -99999;
	width: 100%;
}

#mono96_img {
	display: none;
}	

#mono96_img_black {
	display: none;
}		
	
.mono96_logo {
	width: 100%;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 0;
}

.mono96_logo .casecond {
	font-size: 80%;
	line-height: 1.5;
}

.mono96_logo .mono96_logo_01 {
	width: 100%;
    margin: 0 auto;
}

.mono96_logo .mono96_logo_01 img {
	width: 41%;	
}	

/*newsのcss*/	
.mono_news {
	width: 100%;
	margin: 0 auto;
	padding: 12% 0 15%;
}

.mono_news h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto 8%;
	text-align: center;
	font-family: "Titillium Web", "Abel";
	border-bottom: 2px solid #000;
    padding-bottom: 2%;
    width: 40%;
}

.mono_news h1 span {
	border-bottom: 2px solid #000;
}

.mono_news .news_spbox {
	font-size: 12px;
	line-height: 1.8;
	padding: 5% 0 0 13%;
}

.mono_news .news_box {
	display: none;
}	
	
/*serviceのcss*/
.mono_service {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 15%;
}		
	
.mono_service h1 {
	font-size: 24px;
    font-weight: bold;
    margin: 0 auto 8%;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 2px solid #000;
    padding-bottom: 2%;
    width: 40%;
}
	
.service_box {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin: 3% 4%;
}
/*
.dtp_service {
	position: relative;
	bottom: 22px;
}	*/	
	
.last_service {
	position: relative;
	bottom: 20px;
}	
	
.service_ttl {
	font-size: 15px;
    line-height: 4;
    font-weight: bold;
}	
	
.service_sentence {
	text-align: justify;
    font-size: 12px;
    line-height: 1.5;
}	
	
.service_box img {
	width: 50%;
}		

/*worksのcss*/
.mono_works {
	margin: 0 auto;
	padding-bottom: 12%;
}

.mono_works h1 {
	width: 40%;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto 8%;
	text-align: center;
	font-family: "Titillium Web", "Abel";
	border-bottom: 2px solid #000;
    padding-bottom: 2%;
}

.mono_works h1 span {
	border-bottom: 2px solid #000;
}

.mono_works .project_box {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.grid {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
    overflow: hidden;
    width: 88%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
	margin: 0 0 3% 6%;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 14px;
	text-shadow: 1px 2px 3px #808080;
}
	

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background-color: #363636;
    border: 1px solid rgba(204, 204, 204, 1);
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	height: 100%;
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	height: 100%;
}

figure.effect-bubba h3 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	text-shadow: 1px 2px 3px #808080;
	font-weight: bold;
}

figure.effect-bubba p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
#menu_3 .company {
	font-size: 11px;
    padding-top: 26%;
    font-weight: bold;
    padding-bottom: 5%;	
}
	
.project_box {
	display: none;
}	
	
/*worksの注釈*/
.mono_works .annotation {
	font-size: 12px;
	color: #000000;
	text-align: center;
	padding: 0;
}

/*COMPANYのcss*/
.mono_company .corporate_information {
	margin: 0 auto;
	width: 100%;
	padding: 8% 0 20%;
	font-size: 12px;
	line-height: 1.8;
}

.mono_company .corporate_information .sp_none {
	display: none;	
}		
	
.mono_company h1 {
	width: 40%;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto  8%;
	text-align: center;
	font-family: "Titillium Web", "Abel";
	border-bottom: 2px solid #000;
    padding-bottom: 2%;
}

.mono_company h1 span {
	border-bottom: 2px solid #000;
}

.mono_company th {
	width: 12%;
	text-align: left;
    padding-left: 16%;
}

.mono_company td {
	width: 30%;
}

#access {
	width: 100%;
	height: 400px;
	margin-bottom: 15%;
}	
	
.mono_information {
	width: 100%;
	background-color: #cccccc;
	font-size: 20px;
	padding: 130px 0 140px;
}

.mono_information h1 {
	width: 40%;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto  8%;
	text-align: center;
	font-family: "Titillium Web", "Abel";
	border-bottom: 2px solid #000;
    padding-bottom: 2%;
}

.mono_information h1 span {
	border-bottom: 2px solid #000;
}

.mono_information .mono_recruitment {
	margin: 0 auto;
	border: 1px solid #2A1300;
	border-collapse: collapse;
	width: 45%;
	line-height: 2;
}

.mono_information .mono_recruitment th {
	border: 1px solid #2A1300;
	vertical-align: middle;
}

.mono_information .mono_recruitment td {
	border: 1px solid #2A1300;
	padding-left: 20px;
	width: 70%;
}

/*contactのcss*/	
.mono_contact {	
    margin: 0 auto;
    padding: 0 2% 10%;
}

.contact_box {
	text-align: left;
}	

.mono_contact h1 {
	width: 40%;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto  8%;
    text-align: center;
    font-family: "Titillium Web", "Abel";
    border-bottom: 2px solid #000;
    padding-bottom: 2%;	
}	

.mono_contact form {
    /* フォームをページの中央に置く */
    margin: 0 auto;
    width: 100%;
	text-align: center;
}
.mono_contact form div + div {
    margin-top: 1em;
}
.mono_contact label {
    /* すべてのラベルを同じサイズにして、きちんと揃える */
    float: left;
    text-align: left;
	margin-bottom: 3%;
	font-size: 12px;
    width: 15%;
}
	
.mono_contact label span {
	font-size: 12px;	
}	

.mono_contact input, textarea {

    /* すべてのテキストフィールドを同じサイズにする */
    width: 100%;
    box-sizing: border-box;
	height: 39px;

    /* テキストフィールドのボーダーの外見を同一にする */
    border: 1px solid #999;
}	
.mono_contact textarea {
    /* 複数行のテキストフィールドをラベルにきちんと揃える */
    vertical-align: top;

    /* テキスト入力に十分な領域を与える */
    height: 5em;

    /* ユーザが textarea を垂直方向にリサイズできるようにする
       これが動作しないブラウザもある */
    resize: vertical;
}
.mono_contact .button {
    /* ボタンを他のテキストフィールドと同じ場所に置く */
    margin-top: 0;
}
.mono_contact button {
    width: 40%;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 2% 0;
	border: 1px solid #000000;
	margin-top: 8%;
	font-family: "YuGothL";
}		

.mono_contact .label_01 {
	font-size: 12px;
    width: 15%;
    background-color: #000;
    color: #fff;
    padding: 2%;
    text-align: center;	
}

.mono_contact .label_02 {
	padding-left: 20px;
    padding-right: 10px;
    font-size: 12px;
    width: 47%;
}	

/*footerのcss*/	
#footer {
	margin: 0 auto;
	width: 100%;
}

#footer p {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 1.5;
}

#footer .footer_menu {
	font-weight: 700;	
}	
	
#footer .footer_logo {
	width: 50%
}	

#footer p a {
	text-decoration: none;
	color: #000000;
}

#footer p a:hover{
	border-bottom: 1px solid #ff0000;
}

.footer_box {
	width: 100%;
	margin: 0 auto;
	padding: 80px 0;
	text-align: center;
}

#mono96_character {
	width: 32%;
    margin: 0 auto;
    display: flex;
}	

#mono96_character .character_nomal {
    position: relative;
    top: 58%;
}			

#mono96_character .character_black {
	display: none;
}	
	
#copy_right {
	width: 100%;
	font-size: 12px;
	padding: 2% 0;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

#copy_right .footerlogo_nomal {
	width: 26%;
	margin: 4% auto;
}		

#copy_right .footerlogo_black {
	display: none;
}			
	
}










